option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
  aws:elb:listener:443:
  SSLCertificateId: arn:aws:acm:us-east-1:###########:certificate/########-####-####-####-###########
    ListenerProtocol: HTTPS
    InstancePort: 80
  aws:elb:listener:80:
    ListenerEnabled: false
